# Use config version 2 to enable new configuration fields.
# Config file is parsed as version 1 by default.
version = 2

[plugins]
  [plugins."io.containerd.grpc.v1.cri"]
    sandbox_image = "{{ containerd_pause_image }}"

    {% if telekom_containerd_registry_mirrors is defined and telekom_registry_mirrors is defined %}
    [plugins."io.containerd.grpc.v1.cri".registry]
      [plugins."io.containerd.grpc.v1.cri".registry.mirrors]
      {% for telekom_containerd_registry_mirror in telekom_containerd_registry_mirrors %}
        [plugins."io.containerd.grpc.v1.cri".registry.mirrors."{{ telekom_containerd_registry_mirror.name }}"]
          endpoint = [{% for telekom_mirror_config in telekom_containerd_registry_mirror.mirrors %}{% for telekom_registry_mirror in telekom_registry_mirrors[telekom_mirror_config.type] %}"https://{{ telekom_registry_mirror }}/{{ telekom_mirror_config.path }}"{{ '' if loop.last else ',' }}{% endfor %}{{ '' if loop.last else ',' }}{% endfor %}]
      {% endfor %}
      {% endif %}
